<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/hallo.css" />
    <link rel="stylesheet" href="../assets/css/tailwind.css" />
  </head>
  <body class="bg-[#4c4c4c]">
    <div class="card">
      <h1 class="text-white text-[30px]">Express Js</h1>
      <p>
        Hello and welcome, <br />
        click button bellow to see documentation of this project.
      </p>
      <button>Click here</button>
    </div>
  </body>
</html>
