<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/hallo.css" />
  </head>
  <body>
    <div class="card">
      <h1>Express JS</h1>
      <p>
        Hallo and welcome, <br />
        click button bellow to see the documentation.
      </p>
      <button>Click here</button>
    </div>
  </body>
</html>
