<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    body {
      background: #4c4c4c;
    }
  </style>
  <body>
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: whitesmoke;
        width: auto;
        height: auto;
        padding: 10px;
        color: #4c4c4c;
        text-align: left;
      "
    >
      <h1>Hi, {{fullname}}</h1>
      <p>Thank you for registering in our app</p>
    </div>
  </body>
</html>
