<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background: #4c4c4c;
    }
  </style>
  <body>
    <div
      style="
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: whitesmoke;
        width: auto;
        height: auto;
        padding: 20px;
        color: #4c4c4c;
        text-align: left;
        border-radius: 10px;
        line-height: 40px;
      "
    >
      <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        Hi, {{fullname}}
      </h1>
      <p style="font-family: Verdana, Geneva, Tahoma, sans-serif">
        Thank you for sign in up!
      </p>
    </div>
  </body>
</html>
